.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-size: 16px;
}

.navbar a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #22c55e;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}

.navbar a:hover::after {
    width: 100%;
}